<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safeline.safelinecranes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cranes_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cranes_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAFELINECRANES"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.results.SingleResultActivity"></activity>
        <activity android:name=".ui.inspection.QuizActivity" />
        <activity android:name=".ui.products.CertificateActivity" />
        <activity android:name=".ui.products.RopeActivity" />
        <activity android:name=".ui.products.RopeTypeActivity" />
        <activity android:name=".ui.positions.PositionMapActivity" />
        <activity android:name=".ui.positions.AddPositionActivity" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.safeline.safelinecranes.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SAFELINECRANES.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".ui.sync.BackgroundProcess" />
        <service android:name=".ui.sync.SyncDataProcess" />
    </application>

</manifest>